
<div class="homeView">

  <div class="background">

  </div>

  <div class="container main mainContent">
    <div class="row">
      <div class="container">
        <card-search
              placeholder="Find a Magic card"
              list="home.list"
              callback="home.getCard">
        </card-search>
      </div>
    </div>

    <div class="row pt-5">
      <div class="container d-flex h-100">
        <div class="row w-100 justify-content-center">
          <img class="cardView img-fluid" ng-src="{{home.imgSrc}}" />
        </div>
      </div>
    </div>
  </div>

</div>
