
<div class="card-search">

   <!-- ng-if="$ctrl.hasList" -->
  <div class="queryBar">
    <div class="input-group">
        <span class="input-group-prepend">
          <button
                class="btn btn-info queryOptionsBtn"
                type="button"
                ng-click="$ctrl.optionsOpen = !$ctrl.optionsOpen"
                >
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
          </button>
        <!-- </span> -->

      <!-- <span class="input-group-btn"> -->
        <button
              class="btn btn-default btn-primary outputAction"
              type="button"
              ng-click="$ctrl.outputAction()"
              >
          <small><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></small>
        </button>
      </span>

      <input
            type="text"
            class="form-control queryIn"
            placeholder="{{$ctrl.placeholder}}"
            ng-model="$ctrl.queryIn"
            ng-keydown="$ctrl.handleKeypress($event)"
            ng-change="$ctrl.getSuggestions()"
            ng-paste="$ctrl.getSuggestions()"
            >
      </input>
    </div>
  </div>


  <div id="searchResults">
    <div  class="searchResult" ng-class="{selectedSearch: $index == selectedSearch}" ng-repeat="result in $ctrl.suggestionList" ng-click="$ctrl.selectSuggestion($index)">{{result}}
    </div>
  </div>

  <div class="row">
    <ul ng-if="$ctrl.optionsOpen" class="optionsArea list-group">
      <li class="optionGrouping list-group-item col-sm-6" ng-click="$ctrl.clrOnSubmit = !$ctrl.clrOnSubmit">
        <input type="checkbox" class="cardSearchOption" ng-model="$ctrl.clrOnSubmit">
        <label>Clear on submit</label>
      </li>
      <li class="optionGrouping list-group-item col-sm-6" ng-click="$ctrl.anotherOption = !$ctrl.anotherOption">
        <input type="checkbox" class="cardSearchOption" ng-model="$ctrl.anotherOption">
        <label>Another Option</label>
      </li>
    </ul>
  </div>

  <!-- <div ng-if="!$ctrl.hasList" class="alert-danger">
    <p>Provide this component with data.</p>
  </div> -->

</div>
