
<div class="groupView">

  <div class="container main">

    <h1>{{group.groupObject.groupName}} <small>#{{group.groupObject.groupID}}</small></h1>

    <div class="row">
      <div class="container col-sm-6">
        <h3>
          Members
          <!-- <a class="btn btn-sm btn-primary float-right" href="">Invite New Member</a> -->
        </h3>
        <table class="table table-hover">
          <thead class="thead-light">
            <tr>
              <th>Name</th>
              <th>Join Date</th>
              <th>Role</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="member in group.groupObject.members">
              <td>
                <a href="{{'#/m/' + member.memberID}}">
                  {{member.memberName}}
                </a>
              </td>
              <td>{{member.joinDate | date: 'shortDate'}}</td>
              <td>{{member.role}}</td>
            </tr>
          </tbody>
        </table>
      </div>


      <div class="container col-sm-6">
        <h3>
          Ban Lists
          <!-- <a class="btn btn-sm btn-primary float-right" href="">New Ban List</a> -->
        </h3>
        <table class="table table-hover">
          <thead class="thead-light">
            <tr>
              <th>Name</th>
              <th>Creation Date</th>
              <th>Public</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="banlist in group.groupObject.banlists">
              <td>
                <a href="{{'#/b/' + banlist.banlistID}}">
                  {{banlist.banlistName}}
                </a>
              </td>
              <td>{{banlist.creationDate | date: 'shortDate'}}</td>
              <td>{{banlist.isPublic}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  <!-- End Row -->
  </div>

</div>
