
<div class="banlistView">
  <div class="main container">

    <div class="row">
      <div class="container">
        <h1>{{banlist.banlistObject.banlistName}} <small>#{{banlist.banlistObject.banlistID}}</small></h1>

        <div class="d-flex justify-content-start">
          <div class="infoItem">
            Created on: {{banlist.banlistObject.creationDate | date: 'shortDate'}}
          </div>

          <div class="infoItem">
            Public: {{banlist.banlistObject.isPublic}}
          </div>
        </div>
      </div>
    </div>

    <div class="form-control">
      <div class="row">
        <div class="container col-sm-4">

          <h2>Bans</h2>

          <table class="table table-bordered table-hover">
            <thead class="thead-light">
              <tr class="d-flex">
                <th class="col-8">Card Name</th>
                <th class="col-4">Ban Date</th>
              </tr>
            </thead>

            <tbody>
              <tr class="d-flex" ng-repeat="ban in banlist.banlistObject.bans">
                <td class="col-8">
                  <card-hover cardName="{{ban.cardName}}" position="right" />
                </td>
                <td class="col-4">{{ban.banDate | date: 'shortDate'}}</td>
              </tr>
            </tbody>
          </table>

        </div>

        <div class="container col-sm-8">
          <div class="row">
            <div class="container">
              <h2>Members</h2>
              <table class="table table-bordered table-hover">
                <thead class="thead-light">
                  <tr class="d-flex">
                    <th class="col-6">Name</th>
                    <th class="col-3">Date Added</th>
                    <th class="col-3">Role</th>
                  </tr>
                </thead>

                <tbody>
                  <tr class="d-flex" ng-repeat="member in banlist.banlistObject.members">
                    <td class="col-6"><a href="{{'/#/m/' + member.memberID}}">{{member.memberName}}</a></td>
                    <td class="col-3">{{member.addDate | date: 'shortDate'}}</td>
                    <td class="col-3">{{member.role}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="row">
            <div class="container">

              <h2>Groups</h2>
              <table class="table table-bordered table-hover">
                <thead class="thead-light">
                  <tr class="d-flex">
                    <th class="col-9">Group Name</th>
                    <th class="col-3">Date Added</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="d-flex" ng-repeat="group in banlist.banlistObject.groups">
                    <td class="col-9"><a href="{{'/#/g/' + group.groupID}}">{{group.groupName}}</a></td>
                    <td class="col-3">{{group.addDate | date: 'shortDate'}}</td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
