
<div class="deckList">

  <div class="container main">

    <div class="row">
      <div class="col-sm-8">
        <h1>{{deckList.deck.deckName}} <small>#{{deckList.deck.deckListID}}</small></h1>
      </div>

      <div class="col-sm-4">
        <a class="btn btn-lg btn-primary btn-block" href="{{deckList.deck.deckListLink}}">External Link</a>
      </div>
    </div>

    <div class="row d-flex">
      <div class="col-md-3">
        Member: <a href="#/m/{{deckList.deck.memberID}}">{{deckList.deck.memberName}}</a>
      </div>
      <div class="col-md-3">
        Submitted: {{deckList.deck.addDate | date: 'shortDate'}}
      </div>
      <div class="col-md-3">
        Recorded Matches: {{deckList.deck.playCount}}
      </div>
      <div class="col-md-3">
        Public: {{deckList.deck.isPublic}}
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <h2>Deck List</h2>
        <table class="table table-hover">
          <thead class="thead-light">
            <tr>
              <th>Quantity</th>
              <th>Card Name</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="entry in deckList.deck.decklist">
              <td>{{entry.quantity}}</td>
              <td><card-hover cardName="{{entry.cardName}}" position="right" /></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-4">
        <h2>Commander</h2>
        <card-hover cardName="{{deckList.commander}}" position="left" />
      </div>

    </div>


    <h2>Match History</h2>
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th>Group</th>
          <th>Date</th>
          <th>View Match</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Filler Group</td>
          <td>Filler Date</td>
          <td>
            <a class="btn btn-block btn-primary" href="#/g/">View</a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

</div>
